Makefile
config.h
config.log
config.status
icons/hicolor/scalable/Makefile
po/Makefile
po/Makefile.in
po/POTFILES
src/.deps/
src/Makefile
src/glade/Makefile
stamp-h1
tests/Makefile
.pc
autom4te.cache/
config.h.in~
m4/
po/Makevars.template
*.o
src/ptask
src/ptask.gschema.valid
INSTALL
aclocal.m4
compile
config.guess
config.sub
configure
depcomp
install-sh
missing
test-driver
