Source: gtask
Section: utils
Priority: extra
Maintainer: Jean-Philippe Orsini <jeanfi@gmail.com>
Build-Depends: asciidoc,
	       autoconf,
               automake,
               autopoint,
	       autotools-dev,
               debhelper (>= 9),
	       cppcheck,
               gettext,
               help2man,
               libgtk-3-dev,
               libjson0-dev,
               perl
Standards-Version: 3.9.3
Homepage: http://wpitchoune.net/psensor

Package: gtask
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, task
Description: graphical user interface for managing daily tasks
 built on top of taskwarrior.
 .
 It displays a list of all pending or completed tasks which can
 be sorted by project, priority or description.
 .
 A note, a long description, can be associated to each task.
 .
