Source: ptasker
Section: utils
Priority: optional
Maintainer: Stanislav N. aka pztrn <pztrn@pztrn.name)
Build-Depends: debhelper (>= 9.20151219),
               autotools-dev,
               dh-autoreconf,
               libgtk-3-dev,
               libjson-c-dev,
               libx11-dev,
               libxext-dev,
               pkg-config,
Standards-Version: 3.9.8
Homepage: https://lab.pztrn.name/pztrn/ptasker/
Vcs-Git: https://lab.pztrn.name/pztrn/ptasker.git
Vcs-Browser: https://lab.pztrn.name/pztrn/ptasker/

Package: ptasker
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}, 
         taskwarrior (>= 2.2.0),
Description: GTK+ graphical user interface for managing tasks, fork of PTask
 ptasker is a GTK+ graphical user interface for managing tasks. It is based on
 taskwarrior, a well-known and robust command line tasks manager. Unlike
 taskwarrior, it is possible to associate a note (long description) to each
 task.

 PTaskER is a fork of PTask.
